body {
    background-color: #212121;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    height: 50px;
    width: 50px;
    border: 10px solid #205923;
    border-left: 10px solid #1CD325;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}