body {
    background-color: rgb(105, 0, 0);
    animation-name: body;
    animation-duration: 4s;
}

@keyframes body {
    from {
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: rgb(174, 0, 0);
    }

    to {
        background-color: rgb(105, 0, 0);
    }
}

