.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e9ecef;
}

.nav ul {
    list-style: none;
    color: rgb(151, 151, 151);
}

.nav ul li {
    display: flex;
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
}